.vs/
obj/
bin/
/bin/Debug/net8.0/server.dll
/bin/Debug/net8.0/server.exe
/bin/Debug/net8.0/server.pdb
/obj/Debug/net8.0/ref/server.dll
/obj/Debug/net8.0/refint/server.dll
/obj/Debug/net8.0/staticwebassets/msbuild.build.server.props
/obj/Debug/net8.0/ApiEndpoints.json
/obj/Debug/net8.0/apphost.exe
/obj/Debug/net8.0/server.AssemblyInfo.cs
/obj/Debug/net8.0/server.AssemblyInfoInputs.cache
/obj/Debug/net8.0/server.assets.cache
/obj/Debug/net8.0/server.csproj.AssemblyReference.cache
/obj/Debug/net8.0/server.csproj.CoreCompileInputs.cache
/obj/Debug/net8.0/server.csproj.FileListAbsolute.txt
/obj/Debug/net8.0/server.dll
/obj/Debug/net8.0/server.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net8.0/server.genruntimeconfig.cache
/obj/Debug/net8.0/server.pdb
/obj/Debug/net8.0/staticwebassets.build.json
/obj/project.assets.json
/obj/project.nuget.cache
/obj/server.csproj.nuget.dgspec.json
/obj/server.csproj.nuget.g.props
/appsettings.json
